.page {
    height: 100%;
    width: 100%;
    display: flex;
    cursor: url("./cursor3.png"), grab
    /* background-image: url('./bg.jpeg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.background {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dog {
    position: absolute;
    top: 60%;
    left: 40%;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    padding: 2rem;
    position: absolute;
}
.button {
    cursor: pointer;
    color: #56B3AA;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonText {
    font-size: 1rem;
    font-weight: bold;
    padding-top: 0.3rem;
}
.buttonStore {
    background-color: rgb(251, 243, 193);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 0.4rem;
    width: 10rem;
    position: absolute;
    top: 0;
    left: calc(50%);
    transform: translateX(-50%);
}

.bubble {
    position: absolute;
}

.text {
    position: absolute;
    font-size: 16px;
    font-family: 'Press Start 2P';
}
.button:hover {
    color: #479991;
}
